@import './Components/0-global.css';
@import'./Components/1-titel.css';
@import'./Components/2-header.css';
@import'./../style/components3/course-detail.css';
@import './components3/paragragh.css';
@import'./Components/6-student.css';
@import'./../style/Components/8-update.css';
@import'./../style/Components/9-contact-us.css';


.std-pag3{
    margin-top:60rem;
    background-color:#F0F4F9;
}
@media screen and (max-width: 1200px){
    .std-pag3{
        margin-top:4rem;
       
    }
}

.std-pag3 .std-course{
    background-color: #fff;
}